* {
    /* max-width:  1500px; */
    text-decoration: none;
    color: #000;
    /* font-family: "Merriweather", serif; */
    /* font-weight: 100; */
    font-style: normal;
    max-width: 1920px;
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "poppinsblack";
    src: url("../fonts/poppins-black-webfont.woff2") format("woff2"),
        url("../fonts/poppins-black-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsbold";
    src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
        url("../fonts/poppins-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsextrabold";
    src: url("../fonts/poppins-extrabold-webfont.woff2") format("woff2"),
        url("../fonts/poppins-extrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsthin";
    src: url("../fonts/poppins-thin-webfont.woff2") format("woff2"),
        url("../fonts/poppins-thin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsextralight";
    src: url("../fonts/poppins-extralight-webfont.woff2") format("woff2"),
        url("../fonts/poppins-extralight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinslight";
    src: url("../fonts/poppins-light-webfont.woff2") format("woff2"),
        url("../fonts/poppins-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsmedium";
    src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
        url("../fonts/poppins-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsregular";
    src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
        url("../fonts/poppins-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinssemibold";
    src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
        url("../fonts/poppins-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin-inline: auto;
}

header {
    width: 100%;
    height: 99.5vh;
    position: relative;
    /* background-image: url(../images/TT.jpg);
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat; */
}

#header-top-container {
    background-color: rgba(99, 99, 99, 0.2);
    color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* #header-top-container:active {
}
#header-top-container:hover {
    background-color: #f0eee4;

    .header-bottom .header-bottom-one {
        background-image: url("https://www.swarovski.com/_ui/responsive/theme-swarovski/images/icons/swa-brandlogo-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        height: 93px;
        width: 80%;
    }
    .header-bottom .header-bottom-one {
        display: none;
    }
    .header-bottom .header-bottom-two {
        display: none;
    }

    .header-bottom .header-bottom-three {
        display: block;
    }

    .header-top {
        display: none;
    }
    .header-top-black {
        display: block;
    }
} */

#header-top-container:hover {
    background-color: #f0eee4;
    .header-top-white {
        display: none;
    }
    .header-top-black {
        display: block;
    }

    /* .header-bottom .header-bottom-one {
        background-image: url("https://www.swarovski.com/_ui/responsive/theme-swarovski/images/icons/swa-brandlogo-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        height: 93px;
        width: 80%;
    } */
    .header-bottom .header-bottom-one {
        display: none;
    }
    .header-top-black .header-bottom .header-bottom-one {
        display: block;
    }
}
.background-clip {
    width: 100%;
    /* max-width: 1280px; */
    height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    .background-clip {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}

header .header-top {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

header .header-top .header-top-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17%;
}

header .header-top .header-top-left a {
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}

header .header-top .header-top-left a .icon-one {
    width: 16px;
}

header .header-top .header-top-left a img {
    display: block;
    width: 100%;
}

header .header-top .header-top-left a p {
    color: #fff;
    margin: 0px 5px;
    font-family: "poppinslight";
}

header .header-top .header-top-left a .icon-two {
    width: 13px;
}

header .header-top .header-top-middle {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

header .header-top .header-top-middle {
}

header .header-top .header-top-middle p {
    color: #fff;
    font-family: "poppinslight";
}

header .header-top .header-top-right {
    display: flex;
    /* justify-content:end ; */
}

header .header-top .header-top-right a {
    display: flex;
    margin-top: 15px;
    /* justify-content: space-between; */
}

header .header-top .header-top-right a img {
    display: flex;
    width: 100%;
}
header .header-top .header-top-right .header-top-separator {
    margin-top: 35px;
}

header .header-top .header-top-right a .icon-one {
    width: 13px;
    margin-top: 19px;
    margin-right: 20px;
}

.header-top .header-top-right a .icon-one img {
    width: 100%;
    display: block;
}
header .header-top .header-top-right a.user-profile {
    margin-left: 100px;
}

header .header-top .header-top-right a p {
    color: #fff;
    /* margin-left: 20px; */
    margin-top: 20px;
    font-family: "poppinslight";
}

/* header .header-top .header-top-right a p.register-btn {
    
} */

header .header-top .header-top-right span {
    color: #fff;
    margin: 40px 10px;
}

header .header-top .header-top-wishlist {
    width: 15px;
    margin: 34px 0px 0px 20px;
}

header .header-top .header-top-wishlist img {
    width: 100%;
    display: block;
}

.header-top-black {
    display: none;
}

.header-top-one {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
}

.header-top-one .header-top-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17%;
}

.header-top-one .header-top-left a {
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-top-one .header-top-left a .icon-one {
    width: 16px;
}

.header-top-one .header-top-left a .icon-one img {
    display: block;
    width: 100%;
}

.header-top-one .header-top-left a p {
    margin: 0px 5px;
    font-family: "poppinslight";
}

.header-top-one .header-top-left a .icon-two {
    width: 13px;
}

.header-top-one .header-top-left a .icon-two img {
    width: 100%;
    display: block;
}

.header-top-one .header-top-middle {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.header-top-one .header-top-middle p {
    font-family: "poppinslight";
}

.header-top-one .header-top-right {
    display: flex;
    justify-content: end;
}

.header-top-one .header-top-right a {
    display: flex;
    margin-top: 15px;
    /* justify-content: space-between; */
}

.header-top-one .header-top-right a img {
    display: flex;
    width: 100%;
}

.header-top-one .header-top-right .header-top-separator {
    margin-top: 35px;
}

.header-top-one .header-top-right a .icon-one {
    width: 13px;
    margin-top: 22px;
    margin-right: 20px;
}

.header-top-one .header-top-right a .icon-one img {
    width: 100%;
    display: block;
}

.header-top-one .header-top-right a .icon-two {
    width: 15px;
    margin-top: 15px;
}

.header-top-one .header-top-right a .icon-two img {
    width: 100%;
    display: block;
}

.header-top-one .header-top-right a p {
    margin-top: 20px;
    font-family: "poppinslight";
}

.header-top-one .header-top-right .user-profile {
    margin-left: 100px;
}

.header-top-one .header-top-right span {
    margin: 40px 10px;
}

.header-top-one .header-top-right .user-profile .icon-one {
}

.header-top-one .header-top-right .user-profile .icon-one img {
}

.header-top-one .header-top-right .user-profile p {
}

.header-top-one .header-top-right .header-top-separator {
}

.header-top-one .header-top-right .header-top-wishlist {
    width: 15px;
    margin: 37px 0px 0px 20px;
}

.header-top-one .header-top-right .header-top-wishlist img {
    width: 100%;
    display: block;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-bottom .header-bottom-one {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top-black .header-bottom .header-bottom-one {
    padding: 20px 0px;
    margin: 0 auto;
}
@keyframes ToToDown {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0px);
    }
}

.header-top-black .header-bottom .header-bottom-one {
    display: none;
}

.header-top-black .header-bottom .header-bottom-one {
    width: 46%;
}
.header-top-white .header-bottom .header-bottom-one h1 {
    width: 48%;
}

.header-bottom .header-bottom-one a {
    width: 48%;
}

.header-top-white .header-bottom .header-bottom-one {
    animation: ToToDown 0.6s ease-in;
}

.header-bottom .header-bottom-one a img {
    width: 100%;
    display: block;
}

.header-bottom {
}

.header-bottom .header-bottom-two {
}

.header-bottom .header-bottom-two .header-bottom-two-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 20px;
}

.header-bottom .header-bottom-two .header-bottom-two-container a {
    color: #fff;
    font-family: "poppinslight";
}

.header-bottom .header-bottom-two .header-bottom-two-container a:hover {
    color: #000;
    font-family: "poppinslight";
}

.header-bottom
    a
    .header-bottom-two
    .header-bottom-two-container
    .header-bottom-search {
    width: 18px;
}

.header-bottom
    a
    .header-bottom-two
    .header-bottom-two-container
    .header-bottom-search
    img {
    width: 100%;
    display: block;
    opacity: 1000;
}

.header-bottom
    a
    .header-bottom-two
    .header-bottom-two-container
    .header-bottom-bag {
    width: 18px;
}

.header-bottom
    a
    .header-bottom-two
    .header-bottom-two-container
    .header-bottom-bag
    img {
    width: 100%;
    display: block;
}

.header-bottom div {
}

.header-top-black {
    display: none;
}

.header-top-one {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
}

.header-top-one .header-top-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17%;
}

.header-top-one .header-top-left a {
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-top-one .header-top-left a .icon-one {
    width: 16px;
}

.header-top-one .header-top-left a .icon-one img {
    display: block;
    width: 100%;
}

.header-top-one .header-top-left a p {
    margin: 0px 5px;
}

.header-top-one .header-top-left a .icon-two {
    width: 13px;
}

.header-top-one .header-top-left a .icon-two img {
    width: 100%;
    display: block;
}

.header-top-one .header-top-middle {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.header-top-black .header-top .header-top-left a p {
    color: #000;
}

.header-top-black .header-top .header-top-middle p {
    color: #000;
}

.header-top-black .header-top .header-top-right a p {
    color: #000;
}

.header-top-one .header-top-right {
    display: flex;
    justify-content: end;
}

.header-top-one .header-top-right a {
    display: flex;
    margin-top: 15px;
    /* justify-content: space-between; */
}

.header-top-one .header-top-right a img {
    display: flex;
    width: 100%;
}

.header-top-one .header-top-right .header-top-separator {
    margin-top: 35px;
}

.header-top-one .header-top-right a .icon-one {
    width: 13px;
    margin-top: 22px;
    margin-right: 20px;
}

.header-top-one .header-top-right a .icon-one img {
    width: 100%;
    display: block;
}

.header-top-one .header-top-right a .icon-two {
    width: 15px;
    margin-top: 15px;
}

.header-top-one .header-top-right a .icon-two img {
    width: 100%;
    display: block;
}

.header-top-one .header-top-right a p {
    margin-top: 20px;
}

.header-top-one .header-top-right .user-profile {
    margin-left: 100px;
}

.header-top-one .header-top-right span {
    margin: 40px 10px;
}

.header-top-one .header-top-right .user-profile .icon-one {
}

.header-top-one .header-top-right .user-profile .icon-one img {
}

.header-top-one .header-top-right .user-profile p {
}

.header-top-one .header-top-right .header-top-separator {
}

.header-top-one .header-top-right .header-top-wishlist {
    width: 15px;
    margin: 37px 0px 0px 20px;
}

.header-top-one .header-top-right .header-top-wishlist img {
    width: 100%;
    display: block;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-bottom .header-bottom-one {
    padding: 20px 30px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom .header-bottom-one a {
    width: 48%;
}

.header-bottom .header-bottom-one a img {
    width: 100%;
    display: block;
}

.header-bottom {
}

.header-bottom .header-bottom-two {
}

.header-bottom .header-bottom-two .header-bottom-two-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 20px;
}

.header-bottom .header-bottom-two .header-bottom-two-container a {
    color: #fff;
}

.header-bottom .header-bottom-two .header-bottom-two-container a.list-items {
    color: #000;
}

.header-bottom
    .header-bottom-two
    .header-bottom-two-container
    a.list-items:hover {
    color: #000;
    border-bottom: 3px solid #000;
}

.header-bottom
    a
    .header-bottom-two
    .header-bottom-two-container
    .header-bottom-search {
    width: 18px;
}

.header-bottom
    a
    .header-bottom-two
    .header-bottom-two-container
    .header-bottom-search
    img {
    width: 100%;
    display: block;
    opacity: 1000;
}

.header-bottom
    a
    .header-bottom-two
    .header-bottom-two-container
    .header-bottom-bag {
    width: 18px;
}

.header-bottom
    a
    .header-bottom-two
    .header-bottom-two-container
    .header-bottom-bag
    img {
    width: 100%;
    display: block;
}

.header-bottom div {
}

.header-bottom .header-bottom-three {
    display: none;
}

.header-bottom .header-bottom-three .header-bottom-three-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 20px;
}

.header-bottom .header-bottom-three .header-bottom-three-container p {
    color: #000;
}

.header-bottom
    .header-bottom-three
    .header-bottom-three-container
    .header-bottom-search {
    width: 18px;
}

.header-bottom
    .header-bottom-three
    .header-bottom-three-container
    .header-bottom-search
    img {
    width: 100%;
    display: block;
    opacity: 1000;
}

.header-bottom
    .header-bottom-three
    .header-bottom-three-container
    .header-bottom-bag {
    width: 18px;
}

.header-bottom
    .header-bottom-three
    .header-bottom-three-container
    .header-bottom-bag
    img {
    width: 100%;
    display: block;
}

#header-responsive {
    display: none;
}

#header-responsive .wrapper {
}

#header-responsive .wrapper .background-clip {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#header-responsive .wrapper .background-clip source {
    background-color: #f8f8f8;
}

#header-responsive .wrapper .header-responsive-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    background-color: rgba(99, 99, 99, 0.2);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#header-responsive .wrapper .header-responsive-top .header-left {
}

#header-responsive
    .wrapper
    .header-responsive-top
    .header-left
    .header-left-img {
}

#header-responsive
    .wrapper
    .header-responsive-top
    .header-left
    .header-left-img
    img {
}

#header-responsive .wrapper .header-responsive-top .header-left .menu-list {
    position: fixed;
    top: 0px;
    left: 0;
    background-color: white;
    padding: 0px;
    z-index: 999;
    height: 100vh;
    overflow-y: scroll;
    width: 70%;
}
#menu-hr {
    color: #f0eee4;
}

#header-responsive .wrapper .header-responsive-top .header-left .menu-list a {
    padding: 25px 30px;
    display: flex;
    color: #706e6a;
    border-bottom: solid 0.1px #ededeb;
    font-family: "Roboto", sans-serif;
    /* flex-direction: column; */
}

#header-responsive
    .wrapper
    .header-responsive-top
    .header-left
    .menu-list
    .header-menu-img-container {
    display: flex;
    justify-content: space-around;
}

#header-responsive
    .wrapper
    .header-responsive-top
    .header-left
    .menu-list
    .header-menu-items {
    display: flex;
    justify-content: space-between;
}

#header-responsive
    .wrapper
    .header-responsive-top
    .header-left
    .menu-list
    .header-menu-items
    .arrow {
    font-weight: 600;
    color: #706e6a;
}

#header-responsive .wrapper .header-responsive-top .header-middle {
    width: 20%;
}

#header-responsive .wrapper .header-responsive-top .header-middle img {
    display: block;
    width: 100%;
}

#header-responsive .wrapper .header-responsive-top .header-right {
}

#header-responsive
    .wrapper
    .header-responsive-top
    .header-right
    .header-right-img {
}

#header-responsive
    .wrapper
    .header-responsive-top
    .header-right
    .header-right-img
    img {
}

#header-responsive .wrapper .header-responsive-top .header-right a {
    margin-right: 10px;
}

#header-responsive .wrapper .header-responsive-top .header-right a img {
}

.menu-list {
    display: none;
}
#header-responsive
    .wrapper
    .header-responsive-top
    .header-left
    .menu-list
    .header-menu-items
    .arrow {
    color: #706e6a;
}

.Spotlight-one {
    font-size: 13px;
    margin: auto;
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 250px;
    left: 0;
    z-index: -1;
    /* margin-left: 80px; */
}

.Spotlight-one .Spotlight-container-one {
    letter-spacing: 0px;
}

.Spotlight-one .Spotlight-container-one .Spotlight-title-one {
    font-size: 4rem;
    color: #000;
    font-family: "poppinsmedium";
}

.Spotlight-one .Spotlight-container-one .Spotlight-text-one {
    font-size: 1.5rem;
    font-weight: 200;
    color: #000;
    margin-bottom: 40px;
    font-family: "poppinsregular";
}

/* .Spotlight .Spotlight-container-one .Spotlight-button {
    display: flex;
    flex-direction: column;
} */

.Spotlight-one .Spotlight-button-one a.button {
    width: 300px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 1.3rem;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    font-family: "poppinsregular";
}

#spot-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0eee4;

    padding: 70px 0px;
}

#spot-content .wrapper {
}

#spot-content .spot-content-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#spot-content p.spot-title {
    font-family: "poppinslight";
    color: #000;
    font-size: 3rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

#spot-content p.spot-text {
    font-family: "poppinsregular";
    color: #000;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    text-align: center;
}
#spot-content-one .spot-content .spot-text span {
    border-bottom: 1px solid #000;
}

#card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
}

#card-container {
}

#card-container h1 {
    color: #000;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
    text-align: center;
    font-family: "poppinslight";
}

#card-container .card-section {
    display: flex;

    /* flex-direction: row; */
}

#card-container div .card {
    /* padding: 30px; */
    width: 100%;
}

#card-container div .card .card-img {
    width: 100%;
}

#card-container div .card .card-img img {
    width: 100%;
    display: block;
}

#card-container div .card .card-title {
    font-family: "poppinslight";
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem 0px;
}

#card-container div .card .card-text {
    font-family: "poppinsregular";
    color: #6b6a6a;
    height: auto;

    font-size: 1rem;
    letter-spacing: 0.04rem;
}

#card-container div .card .card-text::-webkit-scrollbar {
    display: none;
}
#card-container div .card .button-group {
    width: 100%;
    margin: 2rem 0px 0px;
}
#card-container div .card .button {
    width: 50%;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    border-bottom: 1px solid #000;
    font-family: "poppinsregular";
}

#card-container div .card-one {
    /* padding: 30px; */
    width: 100%;
    margin-inline: 2.4rem;
}

#card-container div .card-one .card-img {
    width: 100%;
}

#card-container div .card-one .card-img img {
    width: 100%;
    display: block;
}

#card-container div .card-one .card-title {
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem 0px;
    font-family: "poppinslight";
}

#card-container div .card-one .card-text {
    color: #6b6a6a;
    height: auto;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    font-family: "poppinsregular";
}

#card-container div .card-one .card-text::-webkit-scrollbar {
    display: none;
}
#card-container div .card-one .button-group {
    width: 100%;
    margin: 2rem 0px 0px 0px;
}
#card-container div .card-one .button {
    font-family: "poppinsregular";
    width: 50%;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    border-bottom: 1px solid #000;
}

/* #spot-content-one {
    background-color: #fcc2cc;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 80px 30px;

} */

/* #spot-content-one .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#spot-content-one .wrapper .spot-content {
}

#spot-content-one .wrapper p.spot-title {
    color: #000;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#spot-content-one .wrapper p.spot-text {
    color: #000;
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
    text-align: center;
}
#spot-content-one .wrapper a.button {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    margin-bottom: 1rem;
} */

#spot-content-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fcc2cc;
}

#spot-content-one .wrapper {
}

#spot-content-one .spot-container-base {
    display: flex;
    justify-content: space-between;
    padding: 70px 0px;
    background-image: url("../images/_11.jpg");
    background-repeat: no-repeat;
    background-size: 47%;
    background-position: 850px;
}

#spot-content-one .spot-one {
    width: 30%;
}

#spot-content-one .spot-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#spot-content-one .spot-content .spot-title {
    color: #000;
    font-size: 2.5rem;
    font-family: "poppinslight";
}

#spot-content-one .spot-content .spot-text {
    color: #000;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    text-align: center;
    margin: 2.5rem 0px;
    font-family: "poppinsregular";
}

#spot-content-one .spot-content .spot-text span {
}

#spot-content-one .spot-content .button {
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    font-family: "poppinsregular";
}

#spot-content-one .spot-img {
    width: 30%;
    display: flex;
}

#spot-content-one .spot-img img {
    display: block;
    width: 100%;
}

footer {
    width: 100%;
    /* height: 60vh; */
    /* background-color:#f0eee4; */
    /* border-top: .1px solid #6b6a6a; */
    background-color: #f0eee4;
}

footer .footer-container {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f0eee4;
    padding: 70px 0px;
}

footer .footer-container .footer-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 50vh; */
    margin: 0 auto;
    padding: 0px 0px 2.5rem 0px;
}

footer .footer-container .footer-section .footer-section-one {
    display: flex;
    flex-direction: column;
}

footer .footer-container .footer-section div .footer-heading {
    font-weight: 600;
    color: #000;
}

footer .footer-container .footer-section div a {
    color: #6b6a6a;
    margin-bottom: 1.6rem;
    font-size: 15px;
    font-family: "poppinslight";
}
footer .footer-container .footer-section div a:last-child {
    margin-bottom: 0;
}

footer hr {
    color: #f4f0f0;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0px 0px;
}

footer .footer-bottom .footer-bottom-left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

footer .footer-bottom .footer-bottom-left span {
    color: #6b6a6a;
    font-size: 12px;
    font-family: "poppinsthin";
    margin-bottom: 5px;
}

footer .footer-bottom .footer-bottom-right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .footer-bottom .footer-bottom-right a {
    width: 4%;
}

footer .footer-bottom .footer-bottom-right a.fb-img {
    width: 2.5%;
}
footer .footer-bottom .footer-bottom-right a img {
    width: 100%;
    display: block;
}

.company {
    display: none;
}
.company-details {
    background-color: #f0eee4;
    color: #6b6a6a;
    padding: 20px 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #0000;
    cursor: pointer;
    padding: 40px 0px;
}

.dropdown-content {
    display: none;
    position: relative; /* Changed to relative positioning */
    width: 100%;
    z-index: 1;
    left: 0;
    padding: 0px;
    background-color: #f0eee4;
}
.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: #404040;
    font-family: "poppinslight";
}
.footer-hr {
    color: #f4f0f0;
}
.dropdown-content a {
    width: 100%;
    color: #6b6a6a;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    background-color: #f0eee4;
    text-align: left;
    margin-top: 30px;
    font-family: "poppinsregular";
}

.company-details .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.company-details .footer-bottom .footer-bottom-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-details .footer-bottom .footer-logo {
    width: 60%;
    margin: 0 auto;
}

.company-details .footer-bottom .footer-logo span {
    font-family: "poppinsregular";
}

.company-details .footer-bottom .footer-bottom-left span {
    color: #6b6a6a;
    font-size: 15px;
    font-family: "poppinsregular";
}

.company-details .footer-bottom .footer-bottom-right {
    width: 94.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.company-details .footer-bottom .footer-bottom-right a {
    width: 6%;
}

.footer-social-icons {
    display: flex;
    width: 56%;
    justify-content: space-between;
    align-items: center;
}
.company-details .footer-bottom .footer-bottom-right a.fb-img {
    width: 4%;
}
.company-details .footer-bottom .footer-bottom-right a img {
    width: 100%;
    display: block;
}

@media all and (max-width: 1380px) {
    .header-bottom a .header-bottom-two .header-bottom-two-container {
        gap: 40px;
    }

    #spot-content-one .wrapper .spot-content {
        width: 100%;
    }
    #spot-content-one .spot-container-base {
        background-image: none;
    }
    #spot-content-one .wrapper .spot-img img {
        display: none;
    }
}

@media all and (max-width: 1280px) {
    header .header-top .header-top-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
    header .header-top .header-top-right a.user-profile {
        margin-left: 50px;
    }
    .background-clip {
        width: 100%;
        object-fit: cover;
    }
}

@media all and (max-width: 1080px) {
    .header-bottom .header-bottom-two .header-bottom-two-container {
        gap: 30px;
    }
    .background-clip {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .Spotlight {
        width: 80%;
        font-size: 13px;

        position: relative;
    }
    .Spotlight {
        margin: 200px auto;
        text-align: center;
    }
    .Spotlight .Spotlight-container .Spotlight-title {
        font-size: 2.5rem;
        font-family: "poppinsmedium";
    }
    .Spotlight .Spotlight-container .Spotlight-text {
        font-size: 1.2rem;
        font-family: "poppinsregular";
    }
    .Spotlight .Spotlight-container a.button {
        font-family: "poppinsregular";
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1rem;
        background-color: #000;
        color: #fff;
    }
    #spot-content-one .spot-one {
        display: none;
    }
    #spot-content-one .spot-img {
        display: none;
    }
    #spot-content-one .spot-container-base {
        justify-content: center;
    }
    #spot-content-one .spot-content {
        width: 100%;
    }
    #spot-content-one .wrapper .spot-content .spot-title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    #spot-content-one .wrapper .spot-content .spot-text {
        margin: 0px;
        margin-bottom: 30px;
        font-size: 1.2rem;
    }
    #card-container div .card .card-title {
        font-size: 1.8rem;
    }
    #card-container div .card-one .card-title {
        font-size: 1.8rem;
    }
}
@media all and (max-width: 980px) {
    .background-clip {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    #header-top-container {
        display: none;
    }
    /* header {
        width: 100%;
        height: 54.5vh;
    } */
    .Spotlight-one {
        display: none;
    }
    .Spotlight {
        width: 80%;
        font-size: 13px;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 250px auto 100px auto;
    }

    .Spotlight .Spotlight-container .Spotlight-title {
        font-size: 2.5rem;
        font-weight: 400;
        color: #000;
    }
    .Spotlight .Spotlight-container .Spotlight-text {
        font-size: 1.2rem;
        font-weight: 200;
        color: #000;
        margin-bottom: 40px;
    }
    .Spotlight .Spotlight-container a.button {
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1rem;
        background-color: #000;
        color: #fff;
    }
    /* #spot-content {
        margin-top: 586px;
    } */
    #spot-content {
        padding: 60px 0px;
    }

    #card-container {
        padding: 60px 0px;
    }
    #card-container h1 {
        font-size: 2.5rem;
    }

    #card-container div .card .card-title {
        margin: 30px 0px;
    }
    #card-container div .card-one .card-title {
        margin: 30px 0px;
    }
    #card-container div .card-one {
        margin-inline: 0px;
    }
    #card-container div .card .button-group {
        width: 100%;
        margin: 30px 0px;
    }
    #card-container div .card-one .button-group {
        width: 100%;
        margin: 30px 0px;
    }
    #spot-content-one {
        padding: 0px;
    }

    footer {
        display: none;
    }
    .company {
        display: block;
        background-color: #f0eee4;
    }
    .background-clip {
        /* display: none; */
    }

    .header-bottom {
        display: none;
    }
    header {
        display: none;
    }
    #header-responsive {
        display: block;
    }
    #header-responsive .wrapper .header-responsive-top {
        background-color: transparent;
        box-shadow: none;
    }
    /* #spot-content {
        margin-top: 590px;
    } */
    .Spotlight .Spotlight-container {
        top: 300px;
        margin: 0 auto;
    }
    #spot-content .wrapper {
        width: 90%;
    }
    #spot-content .wrapper p.spot-title {
        color: #000;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    #card-container {
        font-family: "Noto Sans", sans-serif;
    }
    #card-container h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    #card-container .wrapper .card-section {
        flex-direction: column;
    }
    #card-container .wrapper div .card {
        padding: 0px;
    }
    #card-container div .card-one {
        margin-top: 1.6rem;
    }
    #card-container div .card .card-title {
        margin: 1.6rem 0px;
    }
    #card-container div .card-one .card-title {
        margin: 1.6rem 0px;
    }
    #card-container .wrapper div .card .card-text {
        margin: 1.6rem 0px;
    }

    #card-container .wrapper div .card .button-group {
        margin: 1.6rem 0px;
    }
    #card-container .wrapper div .card .button {
        color: #000;
        font-weight: 600;
    }

    #card-container div .card-one .button-group {
        margin: 1.6rem 0px;
    }
    #card-container .wrapper div .card .button-group {
        margin: 1.6rem 0px 0px;
    }
    #spot-content-one {
        /* padding: 0px; */
    }
    #spot-content-one .spot-container-base {
        padding: 60px 0px;
    }
    #spot-content-one .wrapper .spot-one {
        width: 0%;
    }
    #spot-content-one .wrapper .spot-img {
        width: 0%;
    }
    #spot-content-one .wrapper .spot-content .spot-title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    #spot-content-one .wrapper .spot-content .spot-text {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    .company-details {
        padding: 60px 0px;
    }
    .dropdown {
        padding: 1.6rem 0px;
    }
    .dropdown:first-child {
        padding: 0rem 0px 1.6rem;
    }
    .dropdown-content a {
        margin-top: 1.6rem;
        font-family: "poppinsregular";
    }
    .company-details .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0px;
        text-align: center;
    }
    .company-details .footer-bottom .footer-bottom-right {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 1.6rem auto 1.6rem;
        padding: 0px;
    }
}
@media all and (max-width: 768px) {
    .Spotlight .Spotlight-container {
        left: 80px;
    }
    #spot-content {
    }
    #spot-content .wrapper p.spot-title {
        font-size: 2rem;
    }
    #card-container .wrapper h1 {
        font-size: 2rem;
    }
    #card-container .wrapper div .card .card-title {
        color: #6b6a6a;
        font-size: 1.4rem;
        font-weight: 400;
    }
    #card-container .wrapper div .card .card-text {
        color: #000;
        font-size: 1.2rem;
    }
    #card-container .wrapper div .card .button {
        color: #000;
        font-size: 1.2rem;
    }
    #card-container div .card .button-group {
    }
    #card-container div .card-one .button-group {
    }

    #card-container .wrapper div .card-one .card-title {
        color: #6b6a6a;
        font-size: 1.4rem;
        font-weight: 400;
    }
    #card-container .wrapper div .card-one .card-text {
        color: #000;
        font-size: 1.2rem;
    }
    #card-container .wrapper div .card-one .button {
        color: #000;
        font-size: 1.2rem;
    }

    #card-container .wrapper div .card-one .card-title {
        color: #6b6a6a;
        font-size: 1.4rem;
        font-weight: 400;
    }
    #card-container .wrapper div .card-one .card-text {
        color: #000;
        font-size: 1.2rem;
    }
    #card-container .wrapper div .card-one .button {
        color: #000;
        font-size: 1.2rem;
    }

    #card-container .wrapper div .card-one .card-title {
        color: #6b6a6a;
        font-size: 1.4rem;

        font-weight: 400;
    }
    #card-container .wrapper div .card-one .card-text {
        color: #000;
        font-size: 1.2rem;
    }
    #card-container .wrapper div .card-one .button {
        color: #000;
        font-size: 1.2rem;
    }
    #spot-content-one .wrapper .spot-one {
        width: 0%;
    }
    #spot-content-one .wrapper .spot-img {
        width: 0%;
    }
    #spot-content-one .wrapper .spot-content .spot-title {
        font-size: 1.8rem;
    }
    #spot-content-one .wrapper .spot-content .spot-text {
        font-weight: 500;
        font-size: 1rem;
    }
}
@media all and (max-width: 640px) {
    .Spotlight .Spotlight-container {
        left: -4px;
    }
    #card-container h1 {
        font-size: 2rem;
    }
    #spot-content-one .spot-content .spot-title {
        font-size: 2rem;
    }
    .heading {
        width: 100%;
    }
    .footer-social-icons {
        width: 100%;
    }
    .dropdown-content {
        width: 100%;
    }
    .company-details .footer-bottom {
    }
    .company-details .footer-bottom .footer-bottom-right {
    }
    .company-details .footer-bottom .footer-bottom-right {
        width: 100%;
    }
    .company-details .footer-bottom .footer-logo {
        width: 100%;
        margin: 0 auto;
    }
    .footer-social-icons {
        width: 85%;
    }
}
@media all and (max-width: 480px) {
    #header-responsive .wrapper .header-responsive-top .header-middle {
        width: 40%;
    }
    .Spotlight {
        width: 100%;
    }
    .Spotlight .Spotlight-container {
        left: -70px;
        top: 166px;
    }
    .Spotlight .Spotlight-container .Spotlight-title {
        font-size: 2.3rem;
    }
    .Spotlight .Spotlight-container .Spotlight-text {
        font-size: 1.2rem;
        margin: 1.6rem 0px;
    }
    #spot-content {
        padding: 40px 0px;
    }
    #spot-content .wrapper p.spot-title {
        font-size: 1.7rem;
        margin-bottom: 1.6rem;
    }

    #card-container {
        padding: 40px 0px;
    }
    #card-container h1 {
        font-size: 1.7rem;
        margin-bottom: 1.6rem;
    }
    #card-container .wrapper h1 {
        font-size: 1.5rem;
    }
    #card-container .wrapper div .card .card-title {
        font-size: 1.3rem;
        margin: 1.3rem 0px;
    }
    #card-container .wrapper div .card-one .card-title {
        font-size: 1.3rem;
        margin: 1.3rem 0px;
    }
    #card-container .wrapper div .card .card-text {
        font-size: 1.1rem;
    }
    #card-container .wrapper div .card .button {
        font-size: 1.1rem;
    }
    #card-container .wrapper div .card .button-group {
        margin: 1.3rem 0px 0px;
    }
    #card-container .wrapper div .card-one .button-group {
        margin: 1.6rem 0px;
    }
    .heading {
        width: 100%;
    }
    #spot-content-one .spot-container-base {
        padding: 40px 0px;
    }
    #spot-content-one .wrapper .spot-content .spot-title {
        font-size: 1.3rem;
        font-weight: 500;
    }
    #spot-content-one .wrapper .spot-content .spot-text {
        font-weight: 500;
        font-size: 1rem;
    }
    #spot-content-one .spot-content .button {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1rem;
        background-color: #000;
        color: #fff;
    }
    .company-details {
        padding: 40px 0px;
    }
    .company-details .footer-bottom .footer-bottom-left span {
        color: #6b6a6a;
        font-size: 12px;
    }
}
@media all and (max-width: 360px) {
    .Spotlight {
        margin: 270px auto 100px auto;
    }
    .Spotlight .Spotlight-container {
        left: -77px;
    }
    .Spotlight .Spotlight-container .Spotlight-title {
        font-size: 2rem;
    }
    .Spotlight .Spotlight-container .Spotlight-text {
        font-size: 1.1rem;
        font-weight: 200;
        color: #000;
        margin-bottom: 50px;
    }

    #spot-content .wrapper p.spot-text {
        font-size: 1.1rem;
    }
    #spot-content-one .spot-content .spot-title {
        font-size: 1.6rem;
    }
    #card-container h1 {
        font-size: 1.3rem;
    }
    #card-container .wrapper h1 {
        font-size: 1.3rem;
    }
    #card-container .wrapper div .card .button {
        font-size: 0.9rem;
    }
    #card-container .wrapper div .card-one .button {
        font-size: 0.9rem;
    }
    .company-details .footer-bottom .footer-bottom-left span {
        color: #6b6a6a;
        font-size: 11px;
    }
}
